<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
       xmlns:p="http://primefaces.org/ui"
       xmlns:o="http://omnifaces.org/ui"
		xmlns:of="http://omnifaces.org/functions"
       >
    <h:head>
   	<h:outputStylesheet library="css" name="common.css"></h:outputStylesheet>
	<h:outputScript library="js" name="common.js"></h:outputScript>
		
	<ui:insert name="bloqueHead">
				 	<!-- Aqui se escribe el javascript,css,etc. particular de un xhtml -->
	</ui:insert>

    </h:head>

    <h:body>
    
 	
		<div id="pagina">
 
		    <div id="encabezado">
		   				 	
					<div style="height: 50px;position: relative;">
						<a id="linkInicio" href="/EjemploJsf/inicio.xhtml">
							<h:graphicImage name="images/lg-sorteos-tec.png" width="200" />
						</a>
						
					</div>
					<!--
					<h:form>
								 		 
					 <p:menubar>
				        <p:submenu label="Facturacion">
				            <p:menuitem value="Administrar Facturas" action="/factura/busquedaSolicitudFactura?faces-redirect=true" ajax="false"/>
				            <p:menuitem value="Administrar Notas de Credito" url="#" />
				            
				            <p:submenu label="Prueba">
				                <p:menuitem value="Opcion 1" url="#" />
				            </p:submenu>
				        </p:submenu>
				        
				 
			 
				        <f:facet name="options">
				        <h:form>
				        	 <p:commandButton ajax="false" action="../login.xhtml?faces-redirect=true" value="Salir" icon="ui-icon-extlink" />
				        </h:form>
				           
				        </f:facet>
				    </p:menubar>
					 
					 
					</h:form>
					 -->
					
					<h:form>
					<!-- Mediante varieble de session -->
					 <p:menubar model="#{model}" id="menu">
					 	<f:facet name="options">
					 		<h:form>
				            	<p:commandButton action="#{loginView.salir}" ajax="true" value="Salir" icon="ui-icon-extlink" />
				            </h:form>
				        </f:facet>
					 </p:menubar>
					 <p:sticky target="menu" />
					</h:form>
					
					
		    </div>
	 		
	 		<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
 
			<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
			    <p:graphicImage name="images/ajaxloadingbar.gif" />
			</p:dialog>
			
		    <div id="contenido">
			  	<ui:insert name="bloqueContenido">
			 	 
			   	</ui:insert>
		    </div>
		    
		   
	 
		    <div id="piePagina">
		    	<span style="position: absolute;right: 20px;top: 12px;color: #666;font-family: arial,sans-serif;font-size: small;"> Sorteos Tec © 
					<h:outputText value="#{fechaActual}">
			    		<f:convertDateTime pattern="yyyy" type="date" />
					</h:outputText>
				</span>
	   	    </div>

		</div>
 
    </h:body>
</html>