@CHARSET "ISO-8859-1";

* {
   margin:0;
   padding:0;
}

html,
body {
   height:100%;
   min-width: 900px;
}

html{
	 overflow-y: scroll;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

.ui-menubar .ui-menuitem-link {
   font-size: 10pt;
}

#pagina {
   min-height:100%;
   position:relative;
}
#encabezado {
   padding:10px;
}
#contenido{
   padding:10px;
   padding-bottom:50px;   /* Altura del footer + espacio para despegar el content del footer */
   width:95%;
   
}
#piePagina {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;
   border-top: 1px solid #e4e4e4;
   background-color: #D8D8D8;
}

a#linkInicio{
	text-decoration: none;
	color: #FFFFFF;
}

.class-contenido{
	border: solid 1px #cccccc;
	margin-top: 15px;
	margin-left: 10px; 
	padding:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.class-titulo{
	font-size: 1.5em;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: solid 1px #cccccc;
}

.class-mensaje{
	margin-left: 10px;
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
}

.class-resultado{
	margin-left: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


 .ui-selectonemenu-label{
                    width:100% !important;
                }

                
                .ui-selectonemenu label.ui-selectonemenu-label{
                	padding-left: 0;
                	padding-right: 0;
                }
                
               
.ui-menu .ui-menu-parent .ui-menu-child {

    width: 13.5em !important; /*Ancho del contenido del menu*/

}
