<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

	
	<ui:composition template="/WEB-INF/plantilla/plantilla.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="bloqueHead">

	
	</ui:define>
    	
    	 <ui:define name="bloqueContenido">
    	 
    	 	<h:form>
    	 	
    	 		<p:panel id="panelGrafica" header="Resultados" style="margin-bottom:20px;">
    	 		
    	 			<p:chart type="line" model="#{graficaVentaView.zoomModel}" style="height:300px;"  widgetVar="chart"/>
    	 			
    	 			<p:commandButton type="button" value="Reestablecer grafica" icon="ui-icon-cancel" onclick="PF('chart').resetZoom()"/>
    	 			
    	 		</p:panel>
    	 		
    	 		
    	 		<p:panel id="panelGraficaBarras" header="Nacimientos" style="margin-bottom:20px;">
    	 		
    	 			<p:chart type="bar" model="#{graficaVentaView.barModel}" style="height:300px;"/>
 						
 						<div style="height: 200px;"></div>
 						
					<p:chart type="bar" model="#{graficaVentaView.horizontalBarModel}" style="height:300px"/>
    	 			

    	 		</p:panel>
    	 		
    	 		
    	 	
	    	 </h:form>
    	 
    	 </ui:define>
 
    	</ui:composition>

