<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:o="http://omnifaces.org/ui"
		xmlns:of="http://omnifaces.org/functions"
>

<ui:define name="bloqueHead">
	
	<style type="text/css">
				<!-- Corrige ancho de combo cuando se navega con ajax. -->
                .ui-selectonemenu-label{
                    width:100% !important;
                }

                
                .ui-selectonemenu label.ui-selectonemenu-label{
                	padding-left: 0;
                	padding-right: 0;
                }
            </style>
	
	</ui:define>



	  <ui:composition template='/WEB-INF/plantilla/plantilla.xhtml'>

	  
	  		 <ui:define name="bloqueContenido">
	  		 
	  		 <h:form id="forma" style="width:70%;min-width:950px;">
	  		 
	  		 <p:growl id="mensaje" sticky="true" />
      
			        	<div class="class-contenido">
			        	
			        	
			        	<p class="class-titulo" >
		    				<h:outputText value="#{msg['busquedaPerfil.titulo']}" />
		    			</p>
			        	
			        	<table border="0" width="100%">
			        	
			        		<tr>
			        			<td align="right">
			        				<p:outputLabel for="descripcion" value="#{msg['busquedaPerfil.label.descripcion']}" />
			        			</td>
			        			<td>
			        				<p:inputText id="descripcion" value="#{perfilBusquedaView.descripcion}"></p:inputText>
			        			</td>
			        			<td>
			        				
			        			</td>
			        			<td>
			        				
			        			</td>
			        			<td>
			        				
			        			</td>
			        		</tr>
			        		
			        		
			        		
			        		<tr>
			        			<td>
			        				
			        			</td>
			        			<td>
			        				
			        			</td>
			        			<td>
			        				<p:commandButton action="#{perfilBusquedaView.buscarPerfil}"  rendered="#{perfilBusquedaView.habilitaBotonConsultar}" value="#{msg['busquedaPerfil.boton.buscar']}" update="tablaPerfil,mensaje"></p:commandButton>
			        			</td>
			        			<td>
			        				<p:commandButton action="#{perfilBusquedaView.altaPerfil}"  rendered="#{perfilBusquedaView.habilitaBotonAgregar}" value="#{msg['busquedaPerfil.boton.nuevo']}">
			        				</p:commandButton>
			        			</td>
			        			<td>
			        				<p:commandButton action="#{perfilBusquedaView.eliminarPerfil}" ajax="false" rendered="#{perfilBusquedaView.habilitaBotonEliminar}"  value="#{msg['busquedaPerfil.boton.eliminar']}" update="tablaPerfil">
			        					<p:confirm header="#{msg['busquedaPerfil.confirmacion.titulo']}" message="#{msg['busquedaPerfil.confirmacion.mensaje']}" icon="ui-icon-alert" />
			        				</p:commandButton>
			        			</td>
			        		</tr>
			        	
			        	</table>
			        	
			        	 <p:confirmDialog global="true">
					        <p:commandButton value="#{msg['busquedaPerfil.boton.confirmar.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					        <p:commandButton value="#{msg['busquedaPerfil.boton.confirmar.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					    </p:confirmDialog>
			        	
			        	</div>
			        	
			        	
			        	<div class="class-resultado">
			        	
			        	<p:dataTable emptyMessage="#{msg['busquedaPerfil.mensaje.resultado']}" id="tablaPerfil" 
			        	selection="#{perfilBusquedaView.perfilesSeleccionados}" 
			        	  value="#{perfilBusquedaView.lstPerfil}" var="perfil" rowKey="#{perfil.id}" 
			        		rows="30"
                         	paginator="true"
                         	paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                         	currentPageReportTemplate="#{msg['busquedaPerfil.label.tabla.pagina']} {currentPage} #{msg['busquedaPerfil.label.tabla.de']} {totalPages}"
			        	>
						 	
						 	<p:column selectionMode="multiple" width="5%" style="text-align:center"/>
						 
						    <p:column headerText="#{msg['busquedaPerfil.columna.descripcion']}" width="80%">
						        <h:outputText value="#{perfil.descripcion}" />
						    </p:column>
						    
						    <p:column headerText="" width="15%">
						        <p:commandButton action="#{perfilBusquedaView.consultarDetalle}"  title="#{msg['busquedaPerfil.boton.consultar']}" ajax="false" rendered="#{perfilBusquedaView.habilitaBotonConsultar}" icon="ui-icon-document">
						        	<f:setPropertyActionListener value="#{perfil}" target="#{perfilBusquedaView.perfilSeleccionado}" />
						        </p:commandButton>
						        
						        <p:commandButton action="#{perfilBusquedaView.editarDetalle}" title="#{msg['busquedaPerfil.boton.editar']}" ajax="false" rendered="#{perfilBusquedaView.habilitaBotonModificar}" icon="ui-icon-pencil" style="margin-left:5%;">
						        	<f:setPropertyActionListener value="#{perfil}" target="#{perfilBusquedaView.perfilSeleccionado}"/>
						        </p:commandButton>
						    </p:column>

						 
						</p:dataTable>
			        	
			        	</div>
			        	
			        	
					
					 </h:form>
					
    		</ui:define>
	  
	  </ui:composition>
	  
	  		


</html>
        