<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:c="http://java.sun.com/jsp/jstl/core"
xmlns:fn="http://java.sun.com/jsp/jstl/functions"
       xmlns:o="http://omnifaces.org/ui"
		xmlns:of="http://omnifaces.org/functions"
>



	   <ui:composition template='/WEB-INF/plantilla/plantilla.xhtml'>

	  	 <ui:define name="bloqueHead">
			  	<script>
			  	$( document ).ready(function(e) {
					
			  		
			  		$('.treeList :checkbox').change(function (){
						$(this).siblings('ul').find(':checkbox').prop('checked', this.checked);
						if (this.checked) {
							$(this).parentsUntil('.treeList', 'ul').siblings(':checkbox').prop('checked', true);
						} else {
								$(this).parentsUntil('.treeList', 'ul').each(function(){
								var $this = $(this);
								var childSelected = $this.find(':checkbox:checked').length;
								if (!childSelected) {
									$this.prev(':checkbox').prop('checked', false);
								}
							});
						}
					});
					
			  		
		
			  	});
			  	
			  				
				</script>
				<style>
					
					
					ul{
						padding-left: 40px;
					}
					
					ul.treeList{
						padding-left: 0;
					}
					 
				</style>				
	  	 </ui:define>
	  
	  		 <ui:define name="bloqueContenido">
	  		 
	  		 <h:form id="forma" style="width:70%;min-width:950px;">
		    	
      
			        
			        	<div class="class-contenido">
			        	
			        	
			        	<p class="class-titulo" >
		    				#{msg['consultaPerfil.titulo']}
		    			</p>
			        	
			        	<table border="0" width="100%">
			        	
			        		<tr>
			        			<td align="right">
			        				<p:outputLabel for="idDescripcion" value="#{msg['consultaPerfil.label.descripcion']}" />
			        			</td>
			        			<td>
			        				<p:inputText id="idDescripcion" value="#{perfilDetalleView.objPerfilConsultar.descripcion}" disabled="#{perfilDetalleView.editable}"></p:inputText>
			        				
			        			</td>
			        			<td>
			        				
			        			</td>
			        			<td>
			        				<p:commandButton value="#{msg['consultaPerfil.boton.regresar']}" action="#{perfilDetalleView.cancelar}" ajax="false" immediate="true"></p:commandButton>
			        			</td>
			        		</tr>
			        		
			        		
			        		
			        		
			        	
			        	</table>
			        	
			        	</div>
			        	
			        	<div class="class-mensaje">
			        	<table width="100%">
			        		<tr>
			        			<td>
			        				<p:messages id="mensaje" autoUpdate="true" closable="true" showSummary="false" showDetail="true"/>
			        			</td>
			        		</tr>
			        	</table>
			        	</div>
			        	
			        	<div class="ui-widget class-resultado">			        	
			    			<div>
			    				<p class="class-titulo" style="font-size: 1.2em">
			    					<h:outputText value="Opciones del menu" />
			    				</p>
			    			</div>
			    					    				
							<ui:include src="/adminPerfil/UiCompositionTreeDetail.xhtml">
					            <ui:param name="node" value="#{perfilDetalleView.nodoRaizConsultar}"/>
					            <ui:param name="editable" value="#{perfilDetalleView.editable}"/>
					         </ui:include>
					    
					    
			        	</div>
			        		        	
			        	
					
					 </h:form>
					 

					
    		</ui:define>
	  
	  </ui:composition>
	  
	  		


</html>
        