
<!-- Se creo para la pantalla de alta. NOTA: Se manda llamar a si mismo en las lineas 53 y 137-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:p="http://primefaces.org/ui"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:c="http://java.sun.com/jsp/jstl/core">
   <f:view contentType="text/html">
      <h:body>
    
         <ui:composition>
         <c:choose>
       						<c:when test="#{node.data.id ne -1}"> <!-- Se descarta el primer nodo (raiz) -->
	            				
	            				
	            				
	            				<c:if test="#{fn:length(node.children) > 0}"><!-- Es padre -->
	            					
	            					<c:if test="#{node.data.menu.padre == 0}">
	            						
	            						
	            						<!-- <ul class=\'treeList\'>  <li>  -->
	            						<h:outputText value="#{perfilDetalleView.ulOpenTree}" escape="false"></h:outputText>
	            						<h:outputText value="#{perfilDetalleView.liTituloOpen}" escape="false"></h:outputText>
	            								
	            								
	            								<h:selectBooleanCheckbox value="#{node.data.seleccionado}" disabled="#{editable}"></h:selectBooleanCheckbox>
	            								#{node.data.menu.descripcion}
	            								
	            								<!-- <ul> -->
	            								<h:outputText value="#{perfilDetalleView.ulTituloOpen}" escape="false"></h:outputText>
	            								
	            					</c:if>
	            					
	            					<c:if test="#{node.data.menu.padre != 0}">
	            							
	            							<!-- <li> -->
	            							<h:outputText value="#{perfilDetalleView.liSubTituloOpen}" escape="false"></h:outputText>	
	            							
	            							<h:selectBooleanCheckbox value="#{node.data.seleccionado}" disabled="#{editable}"></h:selectBooleanCheckbox>
											#{node.data.menu.descripcion}
											
											<!-- <ul> -->		
	            							<h:outputText value="#{perfilDetalleView.ulSubTituloOpen}" escape="false"></h:outputText>
	            							
	            					</c:if>
	            					
	            					
									
									<c:forEach items="#{node.children}" var="n">
							                             <ui:include src="/adminPerfil/UiCompositionTree.xhtml">
							                                <ui:param name="node" value="#{n}"/>
							                             </ui:include>
							    	</c:forEach>


									
										<c:if test="#{node.data.menu.padre == 0}">
											
											<!-- </ul>  -->
											<h:outputText value="#{perfilDetalleView.ulClose}" escape="false"></h:outputText>
											
											<!-- </li>  </ul> -->
											<h:outputText value="#{perfilDetalleView.liClose}" escape="false"></h:outputText>
											<h:outputText value="#{perfilDetalleView.ulClose}" escape="false"></h:outputText>	
										
										</c:if>
										
										<c:if test="#{node.data.menu.padre != 0}">
										
											<!-- </ul> -->
											<h:outputText value="#{perfilDetalleView.ulClose}" escape="false"></h:outputText>
		            						
		            						<!-- </li> -->
		            						<h:outputText value="#{perfilDetalleView.liClose}" escape="false"></h:outputText>
		            							            								
		            					</c:if>
									

	            					
	            				</c:if>
	            				
	            				<c:if test="#{fn:length(node.children) == 0}"> <!-- Es HIJO -->
	            				
	            							<!-- <li> -->
	            							<h:outputText value="#{perfilDetalleView.liOpen}" escape="false"></h:outputText>
	            							
	            								<h:selectBooleanCheckbox value="#{node.data.seleccionado}" disabled="#{editable}"></h:selectBooleanCheckbox>
	            							
		            							#{node.data.menu.descripcion}
		            						
		            								<!-- <ul> -->
				            						<h:outputText value="#{perfilDetalleView.ulOpcionOpen}" escape="false"></h:outputText>
				            						
				            							<!-- <li> -->
				            							<h:outputText value="#{perfilDetalleView.liOpenOperations}" escape="false"></h:outputText>
				            								
				            								
				            									<p:outputLabel value="#{msg['arbol.label.consultar']}" style="margin-right:5px;"></p:outputLabel>
				            									<h:selectBooleanCheckbox value="#{node.data.consulta}" disabled="#{editable}"></h:selectBooleanCheckbox>
				            								
				            								
				            								
				            									<p:outputLabel value="#{msg['arbol.label.agregar']}" style="margin-right:5px;margin-left:15px;"></p:outputLabel>
				            									<h:selectBooleanCheckbox value="#{node.data.agregar}" disabled="#{editable}"></h:selectBooleanCheckbox>
				            								
				            								
				            								
				            									<p:outputLabel value="#{msg['arbol.label.editar']}" style="margin-right:5px;margin-left:15px;"></p:outputLabel>
				            									<h:selectBooleanCheckbox value="#{node.data.editar}" disabled="#{editable}"></h:selectBooleanCheckbox>
				            								
				            								
				            								
				            									<p:outputLabel value="#{msg['arbol.label.eliminar']}" style="margin-right:5px;margin-left:15px;"></p:outputLabel>
				            									<h:selectBooleanCheckbox value="#{node.data.eliminar}" disabled="#{editable}"></h:selectBooleanCheckbox>
				            								
				            								
				            							<!-- </li> -->
				            							<h:outputText value="#{perfilDetalleView.liClose}" escape="false"></h:outputText>
				            							
				            						<!-- </ul> -->				            						
				            						<h:outputText value="#{perfilDetalleView.ulClose}" escape="false"></h:outputText>
		            						
		            						<!-- </li> -->
		            						<h:outputText value="#{perfilDetalleView.liClose}" escape="false"></h:outputText>
	            				
	            				</c:if>
	            				
	            				
            			</c:when>
           				<c:otherwise> <!-- Se empieza a revisar los hijos de raiz -->
           					
           					  		 <c:forEach items="#{node.children}" var="n">
           					  		 
			                             <ui:include src="/adminPerfil/UiCompositionTree.xhtml">
			                                <ui:param name="node" value="#{n}"/>
			                             </ui:include>
			                         </c:forEach>
           				</c:otherwise>
            	</c:choose>		
         </ui:composition>
         
         
      </h:body>
   </f:view>
</html>