  <html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
 xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head><title></title>
<style>
	* {
	   padding:0;
	   margin: 0;
	}
	
	#header {
   		padding:10px;
	}
	#content {
	   padding-bottom:50px;   /* Altura del footer + espacio para despegar el content del footer */
	}
	#footer {
	   position:absolute;
	   bottom:0;
	   width:100%;
	   height:40px;
	   border-top: 1px solid #e4e4e4;
	   background-color: #D8D8D8;
	}
	
	</style>
<script>
		
		
		setTimeout(redirigir, 5000);
		
		function redirigir(){
			
			window.location.href = "#{request.contextPath}";
			
		}
		
		</script>

</h:head>
<h:body>
	
	    <div id="header" style="position: relative;height: 50px;border-bottom: solid 1px #e4e4e4;">
        
        <div style="height: 50px;position: relative;">
    		<h:graphicImage name="images/lg-sorteos-tec.png" width="200"/>
    	</div>
    </div>
		<div id="content" >
			<h:form prependId="false">
				<div style="width:550px;margin-left: auto; margin-right: auto;margin-top: 200px;padding: 10px;
				border: solid 1px #e4e4e4;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
					border-radius: 10px;"
				>
		        
		        <div>
			        <h:graphicImage name="images/alert-icon.png" width="60" style="float: left;"/>
			        
			        <span style="float: left;width:480px;padding-top: 10px;padding-left: 8px;">Ha exedido el tiempo de inactividad ó ha cerrado su sesión, <b>en automatico</b> será redirigido a la página de login.
			        </span>
		        </div>
		        <div style="height: 30px;clear: both;padding-top: 10;position: relative;">
		           <span style="position:absolute;right: 0;">
			            Si no es así,
			            <a href="#{request.contextPath}">da clic aquí</a>
		            </span>
		        </div>
	        </div>
	        <p:inputText type="hidden"></p:inputText>
	         </h:form>
        </div>
        
        <div id="espacio">
        	
        </div>
        

    
    <div id="footer">
    	<span style="position: absolute;right: 20px;top: 12px;color: #666;font-family: arial,sans-serif;font-size: small;"> Sorteos Tec © 
    	<h:outputText value="#{fechaActual}">
    		<f:convertDateTime pattern="yyyy" type="date" />
		</h:outputText></span>
    </div>
    
</h:body>


</html>
        