<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:p="http://primefaces.org/ui"> 
 
<h:body>
	
	<ui:composition template="/WEB-INF/plantilla/plantilla.xhtml">
    	
    	 <ui:define name="bloqueContenido">
    	 
    	 	<h:form>
    	 
	    	 <p>¡Bienvenido!
	    	 
	    	 #{usuario.nombre}  #{usuario.apellidoPaterno}
	    	   
	    	 </p>
	    	 
	    	 <div style="height: 400px;">
				    	 
	    	 </div>
	    	 
	    	 </h:form>
    	 
    	 </ui:define>
 
    	</ui:composition>
	
</h:body>
</html>
