<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >

<h:head></h:head> 

<h:body>

<h:form>

<table>
	<tr>
		<td><p:outputLabel value="Usuario:"></p:outputLabel></td>
		<td><p:inputText value="#{loginView.objUsuario.nombreUsuario}"></p:inputText> </td>
	</tr>
	<tr>
		<td><p:outputLabel value="Contraseña:"></p:outputLabel></td>
		<td><p:password value="#{loginView.objUsuario.password}"></p:password> </td>
	</tr>
	<tr>
		<td>&#160;</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td colspan="2">
			<p:commandButton action="#{loginView.entrar}" value="Entrar" ajax="false"></p:commandButton>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p:outputLabel id="lblMensaje" value="#{loginView.mensaje}"></p:outputLabel>
		</td>
	</tr>
</table>

</h:form>

</h:body>


</html>
