<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>

</h:head>
<h:body>
	<h:form>
	 
	
			<table>
			
				<tr>
					<td>
						<h:outputLabel for="txtCorreo" value="Correo:"></h:outputLabel>
					</td>
					<td>
						<h:inputText  id="txtCorreo"
						 value="#{registroUsuarioView.objUsuario.correo}"
						 validatorMessage="Correo electronico invalido"
						 >
							<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
						</h:inputText>
					</td>
				</tr>
			
				<tr>
					<td>
						<h:outputLabel for="txtNombre" value="Nombre:"></h:outputLabel>
					</td>
					<td>
						<h:inputText  id="txtNombre" value="#{registroUsuarioView.objUsuario.nombre}" immediate="true">
							<f:validator validatorId="ValidaLetras" />
							<f:attribute name="etiqueta" value="Nombre:"/>
						</h:inputText>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputLabel value="Apellido Paterno:"></h:outputLabel>
					</td>
					<td>
						<h:inputText id="txtApellidoPaterno"
						requiredMessage="Apellido Paterno es requerido."
						required="true" 
						value="#{registroUsuarioView.objUsuario.apellidoPaterno}">
						
						</h:inputText>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputLabel for="txtApellidoMaterno" value="Apellido Materno:"></h:outputLabel>
					</td>
					<td>
						<h:inputText id="txtApellidoMaterno"
						label="Apellido Materno"
						 required="true" value="#{registroUsuarioView.objUsuario.apellidoMaterno}"></h:inputText>
					</td>
				</tr>
				<tr>
					<td>
						<h:outputLabel for="txtEdad" value="Edad:"></h:outputLabel>
					</td>
					<td>
						<h:inputText id="txtEdad" required="true" value="#{registroUsuarioView.objUsuario.edad}">
						
						</h:inputText>
					</td>
				</tr>
				
							
			<tr>
				<td>
					<h:outputLabel for="txtPassword" value="Contraseña:"></h:outputLabel>
				</td>
				<td>
					<h:inputSecret id="txtPassword"
					label="Password"
					required="true" value="#{registroUsuarioView.password}" />
					
					<h:message for="txtPassword" style="color:red"/>
					
					
				</td>
			</tr>
			
			<tr>
				<td>
					<h:outputLabel for="txtConfirmar" value="Confirmar contraseña:"></h:outputLabel>
				</td>
				<td>
					<h:inputSecret id="txtConfirmar" required="true" 
					requiredMessage="Confirmar contraseña es requerido" 
					value="#{registroUsuarioView.confirmarPassword}">
					 </h:inputSecret>
					 
					<h:message for="txtConfirmar" style="color:red"
					/>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					&#160; <!-- Espacio en blanco -->
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<h:commandButton id="btnRegistrar" value="Registrar"
					actionListener="#{registroUsuarioView.obtenerValor}"
					 action="#{registroUsuarioView.registrar}">
					 
					 	<f:actionListener type="com.tarjetamiga.actionListener.UsuarioActionListener"/>
					 	<f:setPropertyActionListener target="#{registroUsuarioView.variableActionListener}" value="prueba" />
					 
					 </h:commandButton>
					 
					 <h:commandButton value="Cancelar" action="inicio.xhtml" immediate="true"/>
	
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<h:messages style="color:red;margin:8px;" id="mensajes" layout="table"/>
				</td>
			</tr>		
			
		</table>
		
		
		<div id="divMensaje">
			<h:outputLabel id="mensajeAjax" value="#{registroUsuarioView.mensajeAjax}" />
		</div>
		
			
	</h:form>
</h:body>
	
	
	
</html>