<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

	
	<ui:composition template="/WEB-INF/plantilla/plantilla.xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="bloqueHead">
	
	<style type="text/css">
				<!-- Corrige ancho de combo cuando se navega con ajax. -->
                .ui-selectonemenu-label{
                    width:100% !important;
                }

                
                .ui-selectonemenu label.ui-selectonemenu-label{
                	padding-left: 0;
                	padding-right: 0;
                }
            </style>
	
	</ui:define>
    	
    	 <ui:define name="bloqueContenido">
    	 
    	 	<h:form>
    	 	
    	 	<p:growl id="mensajeGrowl" sticky="true" />
    	 
	    	<p:panel id="panelBusqueda" header="Busqueda de Solicitud de Facturas" style="margin-bottom:20px;">
		       <table border="0" width="100%">
		       		<tr>
						<td width="20%"><p:outputLabel value="Id Factura:"></p:outputLabel></td>
						<td width="20%"><p:inputText value="#{facturaBusquedaView.objSolicitudFactura.id}"></p:inputText>  </td>
						<td width="20%"></td>
						<td width="40%"></td>
					</tr>
					<tr>
						<td><p:outputLabel value="Convenio:" for="cmbConvenio"></p:outputLabel> </td>
						<td>
							<p:selectOneMenu required="true" requiredMessage="Convenio: Selecione una opcion."  id="cmbConvenio"  value="#{facturaBusquedaView.objSolicitudFactura.objConvenio.id}">
								
								<f:selectItem itemLabel="Seleccione..." itemValue="" noSelectionOption="true" />
								
								<f:selectItems value="#{facturaBusquedaView.lstConvenio}" var="convenio" 
						       									itemValue="#{convenio.id}" itemLabel="#{convenio.descripcion}" />
							</p:selectOneMenu>
						</td>
						<td></td>
						<td></td>
					</tr>
					
					<tr>
						<td><p:outputLabel value="Descripcion:"></p:outputLabel> </td>
						<td><p:inputText  value="#{facturaBusquedaView.objSolicitudFactura.descripcion}"></p:inputText></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><p:outputLabel value="Fecha de creacion:"></p:outputLabel> </td>
						<td><p:calendar value="#{facturaBusquedaView.fechaCreacion}" locale="es" navigator="true" pattern="yyyy-MM-dd"></p:calendar> </td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4">&#160;</td>
					</tr>
					<tr>
						<td></td>
						<td> </td>
						<td colspan="2">
							<p:commandButton value="Buscar" action="#{facturaBusquedaView.buscar}" update="tblListaFactura mensajeGrowl"></p:commandButton>
							
							<p:commandButton value="Nueva" action="nuevaSolicitudFactura?faces-redirect=true" immediate="true"  style="margin-left:10px;"></p:commandButton>
							
							<p:commandButton value="Eliminar" action="#{facturaBusquedaView.eliminar}" update="tblListaFactura mensajeGrowl" style="margin-left:10px;">
								<p:confirm header="Confirmacion" message="Estas realmente seguro?" icon="ui-icon-alert" />
							</p:commandButton> 
						</td>
					</tr>		       
		       </table>
		    </p:panel>
		    
		    <p:panel style="margin-bottom:20px">
		    	<!-- div con border -->
		    </p:panel>
		    
		    <p:outputPanel>
		    	<!-- div sin border -->
		    </p:outputPanel>
		    
		    <p:dataTable id="tblListaFactura" var="objFactura" value="#{facturaBusquedaView.lstSolicitudFacturas}" paginator="true" rows="2" 
		   
		    paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}  {RowsPerPageDropdown}" emptyMessage="Sin resultados"
		    rowsPerPageTemplate="5,10,15" currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}" 
		    
		    rowKey="#{objFactura.id}" selection="#{facturaBusquedaView.lstSolicitudFacturasSeleccionadas}" 
		    >
			   
			   <p:column selectionMode="multiple" style="width:16px;text-align:center" />
			   
			    <p:column  headerText="Identificador">
			        <h:outputText value="#{objFactura.id}" />
			    </p:column>
			 
			    <p:column filterBy="#{objFactura.descripcion}" filterMatchMode="contains" headerText="Descripcion">
			       <h:outputText value="#{objFactura.descripcion}" />
			    </p:column>
			    
			    <p:column headerText="Cantidad Total">
			        <h:outputText value="#{objFactura.importeTotal}" />
			    </p:column>
			 
			    <p:column headerText="Fecha Creacion">
			        <h:outputText value="#{objFactura.fechaCreacion}" />
			    </p:column>
			 
			    <p:column headerText="Accion">
			        <p:commandButton value="Editar" action="#{facturaBusquedaView.editar(objFactura.id)}" ></p:commandButton>
			    </p:column>
			</p:dataTable>
			
			
			<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
		        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
	    	 
	    	 </h:form>
    	 
    	 </ui:define>
 
    	</ui:composition>

