<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:p="http://primefaces.org/ui">

<h:head></h:head> 
<body>

<ui:composition template="/WEB-INF/plantilla/plantilla.xhtml">
    	
    	 <ui:define name="bloqueContenido">
    	 
    	 	<h:form>
    	 	
    	 	<p:growl id="mensajeGrowl" sticky="true"/>
    	 
	    	<p:panel id="panelEncabezado" header="Editar Solicitud de Factura" style="margin-bottom:20px">
		       <table border="0" width="100%">
		       		
					<tr>
						<td><p:outputLabel value="Convenio:"></p:outputLabel> </td>
						<td><p:selectOneMenu id="cmbConvenio"
							required="#{param['form:btnModificar']==null}"
							requiredMessage="Convenio:Favor de seleccionar un convenio."
						 	value="#{facturaEditarView.objSolicitudFactura.objConvenio.id}">
								<f:selectItem itemLabel="Seleccione..." itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{facturaEditarView.lstConvenio}" var="convenio" 
						       	itemValue="#{convenio.id}" itemLabel="#{convenio.descripcion}" />
							</p:selectOneMenu>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><p:outputLabel value="Descripcion:"></p:outputLabel> </td>
						<td>
							<p:inputText 
							value="#{facturaEditarView.objSolicitudFactura.descripcion}" 
							required="false">
							</p:inputText>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><p:outputLabel value="Importe total:"></p:outputLabel> </td>
						<td>
						<p:inputText 
						value="#{facturaEditarView.objSolicitudFactura.importeTotal}"
						required="false"
						></p:inputText>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4">&#160;</td>
					</tr>
					
					<tr>
						<td colspan="4">
							<p:commandButton id="btnModificar" value="Modificar" action="#{facturaEditarView.modificar}" process="panelEncabezado" update="mensajeGrowl panelEncabezado"></p:commandButton>
							
							<p:commandButton id="btnCancelar" value="Cancelar" action="busquedaSolicitudFactura.xhtml?faces-redirect=true" immediate="false" update="mensajeGrowl" style="margin-left:10px;"></p:commandButton>
						</td>
					</tr>
					
					
							       
		       </table>
		    </p:panel>
		    
		    
		    <p:panel id="panelConceptos">
		    	<table>
		    		<tr>
		    			<td>
		    				<p:outputLabel value="Descripcion"></p:outputLabel>
		    			</td>
		    			<td>
		    				<p:outputLabel value="Importe"></p:outputLabel>
		    			</td>
		    			<td>
		    				
		    			</td>
		    		</tr>
		    		
		    		<tr>
		    			<td>
		    				<p:inputText value="#{facturaEditarView.objConcepto.descripcion}" required="false"></p:inputText>
		    			</td>
		    			<td>
		    				<p:inputText value="#{facturaEditarView.objConcepto.importe}" required="false"></p:inputText>
		    			</td>
		    			<td>
		    				<p:commandButton value="Agregar" action="#{facturaEditarView.agregar}" process="panelConceptos" update="tblConcepto panelConceptos mensajeGrowl"></p:commandButton>
		    			</td>
		    		</tr>
		    		
		    	</table>
		    	
		    	<p:dataTable id="tblConcepto" value="#{facturaEditarView.lstConcepto}" var="objetoConcepto">
		    		<p:column headerText="Descripcion">
		    			<h:outputText value="#{objetoConcepto.descripcion}" />
		    		</p:column>
		    		<p:column headerText="Importe">
		    			<h:outputText value="#{objetoConcepto.importe}" />
		    		</p:column>
		    		<p:column headerText="Accion">
		    			<p:commandButton value="Eliminar" action="#{facturaEditarView.eliminar(objetoConcepto)}" process="@this" update="tblConcepto"></p:commandButton>
		    		</p:column>
		    	</p:dataTable>
		    	
		    </p:panel>
		    
	    	 
	    	 </h:form>
    	 
    	 </ui:define>
 
    	</ui:composition>


</body> 
</html>
