<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:p="http://primefaces.org/ui">

<h:head></h:head> 
<body> 

<ui:define name=""></ui:define>

<ui:composition template="/WEB-INF/plantilla/plantilla.xhtml">
    	
    	 <ui:define name="bloqueContenido">
    	 
    	 	<h:form>
    	 	
    	 	<p:growl id="mensajeGrowl" sticky="true"/>
    	 	<p:defaultCommand target="btnGuardar" scope="panelEncabezado" />
    	 	<p:defaultCommand target="btnAgregar" scope="panelConceptos" />
    	 
	    	<p:panel id="panelEncabezado" header="Crear Solicitud de Factura" style="margin-bottom:20px">
		       <table border="0" width="100%">
		       		
					<tr>
						<td><p:outputLabel value="Convenio:" for="cmbConvenio"></p:outputLabel> </td>
						<td><p:selectOneMenu id="cmbConvenio"
							required="true" filter="true"
							requiredMessage="Convenio:Favor de seleccionar un convenio."
							
						 	value="#{facturaNuevaView.objSolicitudFactura.objConvenio.id}">
						 	
								<f:selectItem itemLabel="Seleccione..." itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{facturaNuevaView.lstConvenio}" var="convenio" 
						       	itemValue="#{convenio.id}" itemLabel="#{convenio.descripcion}"/>
						       	
							</p:selectOneMenu>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><p:outputLabel value="Descripcion:" for="txtDescripcion"></p:outputLabel> </td>
						<td>
							<p:inputText id="txtDescripcion"
							value="#{facturaNuevaView.objSolicitudFactura.descripcion}" 
							required="true">
							</p:inputText>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><p:outputLabel value="Importe total:" for="txtImporte"></p:outputLabel> </td>
						<td>
						<p:inputText id="txtImporte"
						value="#{facturaNuevaView.objSolicitudFactura.importeTotal}"
						required="true"
						requiredMessage="Importe:Favor de proporcionar un importe."
						></p:inputText>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4">&#160;</td>
					</tr>
					
					<tr>
						<td colspan="4">
							<p:commandButton id="btnGuardar" value="Guardar" action="#{facturaNuevaView.guardar}" 
							process="panelEncabezado" ajax="true" update="mensajeGrowl"></p:commandButton>
							
							<p:commandButton id="btnCancelar" value="Cancelar" action="busquedaSolicitudFactura.xhtml?faces-redirect=true" 
							immediate="true" style="margin-left:10px;"></p:commandButton>
						</td>
					</tr>
					
					
							       
		       </table>
		    </p:panel>
		    
		    
		    <p:panel id="panelConceptos" style="margin-bottom:20px">
		    	<table>
		    		<tr>
		    			<td>
		    				<p:outputLabel value="Descripcion"></p:outputLabel>
		    			</td>
		    			<td>
		    				<p:outputLabel value="Importe"></p:outputLabel>
		    			</td>
		    			<td>
		    				
		    			</td>
		    		</tr>
		    		
		    		<tr>
		    			<td>
		    				<p:inputText value="#{facturaNuevaView.objConcepto.descripcion}" required="true"></p:inputText>
		    			</td>
		    			<td>
		    				<p:inputText value="#{facturaNuevaView.objConcepto.importe}" required="true"></p:inputText>
		    			</td>
		    			<td>
		    				<p:commandButton id="btnAgregar" value="Agregar" action="#{facturaNuevaView.agregar}" process="panelConceptos" 
		    				update="tblConcepto panelConceptos mensajeGrowl"></p:commandButton>
		    			</td>
		    		</tr>
		    		
		    	</table>
		    	
		    	<p:dataTable id="tblConcepto" value="#{facturaNuevaView.lstConcepto}" var="objetoConcepto">
		    		<p:column headerText="Descripcion">
		    			<h:outputText value="#{objetoConcepto.descripcion}" />
		    		</p:column>
		    		<p:column headerText="Importe">
		    			<h:outputText value="#{objetoConcepto.importe}" />
		    		</p:column>
		    		<p:column headerText="Accion">
		    			<p:commandButton value="Eliminar" action="#{facturaNuevaView.eliminar(objetoConcepto)}" process="@this" update="tblConcepto"></p:commandButton>
		    		</p:column>
		    	</p:dataTable>
		    	
		    	
		    	
		    	
		    </p:panel>
		    
		    <p:panel>
		    
		    	<table>
		    		<tr>
		    			<td> 
		    				<p:outputLabel value="Carga archivo:"></p:outputLabel>
		    			</td>
		    			<td>
		    				<p:fileUpload fileUploadListener="#{facturaNuevaView.subirArchivo}" mode="advanced" auto="true"
		    				label="Subir archivo" 
		    				 update="tblArchivo mensajeGrowl" sizeLimit="1000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" 
		    				 invalidSizeMessage="Te pasas de tamaño" invalidFileMessage="Tipo invalido de archivo"
		    				 
		    				 />
		    			</td>
		    		</tr>
		    	</table>
		    	
		    	<p:dataTable id="tblArchivo" value="#{facturaNuevaView.lstArchivos}" var="objetoArchivo">
		    		<p:column headerText="Nombre del archivo">
		    			<h:outputText value="#{objetoArchivo.nombreArchivo}" />
		    		</p:column>
		    		<p:column headerText="Accion">
		    			<p:commandButton value="Eliminar" action="#{facturaNuevaView.eliminarArchivo}" process="@this" update="tblArchivo">
		    				<f:setPropertyActionListener value="#{objetoArchivo}" target="#{facturaNuevaView.objArchivoSeleccionado}"/>
		    			</p:commandButton>
		    		</p:column>
		    	</p:dataTable>
		    
		    </p:panel>
		    
	    	 
	    	 </h:form>
    	 
    	 </ui:define>
 
    	</ui:composition>

</body> 
</html>
